//公共颜色
//  //默认字体颜色
@defaultFont: rgb(90, 113, 178);
@defaultFonHV: rgb(119, 144, 211);
@defaultFont2: #fff;
//  //默认透明颜色
@defaultCR: transparent;
// //默认背景颜色
@defaultTitle: rgb(236, 159, 221);
@defaultBG: rgb(244, 231, 210);
// //默认黑色字体颜色 主
// //默认黑色字体颜色 次
@pfontColor: #3c3c3c;
@sfontColor: #666666;

@defaultHv: #e7e7e7;
@defaultAct: #efefef;
@defaultTextHv: #b6b6b6;
@defaultCancelText: #606266;
@defaultCancelBorder: #dcdfe6;
//错误提示框
@defaultErrorBorder: rgb(236, 159, 221);
@defaultError: rgb(232, 93, 204);
//
@buttonColor:rgb(241, 129, 219);
@buttonWhite:#fff;
@buttonHV:rgb(232, 115, 209);
@editorBG:rgb(249, 215, 242);
@defaultLike:#f56c6c;
//公共样式
.publicWH(@w, @h) {
    width: @w;
    height: @h;
}

.publicMP(@m, @p) {
    margin: @m;
    padding: @p;
}

.publicFont(@size, @weight, @color, @space) {
    font-size: @size;
    font-weight: @weight;
    color: @color;
    letter-spacing: @space;
}

.publicFlex(@a, @ji, @jt) {
    display: flex;
    align-items: @a;
    justify-items: @ji;
    justify-content: @jt;
}

.publicPos(@top, @left, @z) {
    position: absolute;
    top: @top;
    left: @left;
    z-index: @z;
}

.onelineEllipsis(@size) {
    font-size: @size;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.morelinesEllipsis(@size, @lines) {
    font-size: @size;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: @lines;
    -webkit-box-orient: vertical;
    word-break: break-word;
}


.leftSlideIn(@time, @ease) {
    animation-name: leftSlideIn;
    animation-duration: @time;
    animation-timing-function: @ease;
}

.rightSlideIn(@time, @ease) {
    animation-name: rightSlideIn;
    animation-duration: @time;
    animation-timing-function: @ease;
}

.topSlideIn(@time, @ease) {
    animation-name: topSlideIn;
    animation-duration: @time;
    animation-timing-function: @ease;
}
.bottomSlideIn(@time, @ease){
    animation-name: topSlideIn;
    animation-duration: @time;
    animation-timing-function: @ease;
}
.opacityAmt(@time, @ease) {
    animation-name: opacityAmt;
    animation-duration: @time;
    animation-timing-function: @ease;
}

.arrowAnimation() {
    animation-name: arrowAnimation;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

//公共动画组
@keyframes leftSlideIn {
    from {
        margin-right: 100%;
    }

    to {
        margin-right: 0%;
    }
}

@keyframes rightSlideIn {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}

@keyframes topSlideIn {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}

@keyframes bottomSlideIn {
    from {
        margin-bottom: 100%;
    }

    to {
        margin-bottom: 0%;
    }
}
@keyframes opacityAmt {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes arrowAnimation {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1.2);
    }

    60% {
        transform: scale(1.3);
    }

    80% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1.5);
    }
}