//公共颜色
@defult: #fff;
@defultBG: transparent;
//公共样式
.publicWH(@w, @h) {
    width: @w;
    height: @h;
}

.publicMP(@m, @p) {
    margin: @m;
    padding: @p;
}

.publicFlex(@a, @ji, @jt) {
    display: flex;
    align-items: @a;
    justify-items: @ji;
    justify-content: @jt;
}
