html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background: url('@/assets/images/background6.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
#app {
    width: 100%;
}